{
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-decorators"
  ],
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "entry",
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 1%"
        ]
      }
    }],
    "react",
    "es2015",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ]
    }
  }
}

